name: Code Quality Pipeline

on:
    push:
        branches: ['**']
    pull_request:
        branches: ['**']

jobs:
    code-quality:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '18'
                  cache: 'npm'

            - name: Install dependencies
              run: npm install

            - name: Run lint fix and format
              run: npm run fix

            - name: Build project
              run: npm run build
